* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-image: url("../img/Фон 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

body {}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
    margin: 0 auto;
    ;
    width: 1032px;
    padding: 18px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item_1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.item_1:hover {
    color: #01813F;

}

.item_2 {
    margin-left: auto;
}

.item_2>svg {
    margin-right: 24px;
    fill: #ffffff;
}

.item_2>svg:hover {
    fill: #01813F;

}

.item_3 {
    padding-left: 25px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;

}

.item_3>a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #01813F
}

.form {
    width: 444px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 33px 60px 38px 60px;
}

.green {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}

.sign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sign>p:first-child {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sign>p:last-child {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.social_login {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    left: 0px;
    top: 0px;
    padding-left: 17px;
    padding-right: 22px;
    background: #305DB8;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.gl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    left: 0px;
    top: 0px;
    padding-left: 12px;
    padding-right: 27px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    background: #DF4A32;
}

.ggl {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

}

.ffb {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.ln {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.lnn {
    width: 152px;
    height: 0px;
    left: -3px;
    top: 6px;
    border: 1px solid #F2F2F2;
}

input {
    width: 322px;
    height: 44.08px;
    margin-top: 15px;
    padding: 14px 20px 16px 20px;
    border: 1px solid #F2F2F2;
    outline-color: #F2F2F2;

    border-radius: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

input:focus-visible {
    color: black;
    outline-color: transparent;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}


.lbl {
    display: flex;
    padding-top: 12px;

}

#chb {
    width: 0;
    height: 0;
}

.p {
    padding-left: 8px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.p>a {
    font-family: Verdana;
    text-decoration: none;
    color: #3CB878;
}

.checkmark {
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 1px solid #F2F2F2;}

input[type=button]
{
    margin-top: 20px;
    background-color: #3CB878;
    color:#ffffff;
    font-size: 16px;

}

#chb:checked ~ .checkmark {
    background: url("../img/Vector 1.svg");
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;  }
  



[type=checkbox]:checked {
    background: none;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
}